<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <%= link_to movie do %>
      <div class="card-topper" style='background-image: url(<%= movie.poster_image_url %>)'></div>
    <% end %>

    <div class="card-block">
      <h4 class="card-title"><%= link_to movie.title, movie %></h4>
      <p class="card-text"><%= movie.slogan %></p>
    </div>
    <div>
    <%= link_to movie do %>
      <p class="btn btn-info" role="button">Подробнее</p>
    <% end %>
    </div>
  </div>
</div>
<!--TODO: redo links etc; rewrite code  -->
