<%= form_with(model: mori_cinema_today, local: true) do |form| %>
  <% if mori_cinema_today.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mori_cinema_today.errors.count, "error") %> prohibited this mori_cinema_today from being saved:</h2>

      <ul>
      <% mori_cinema_today.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :mori_cinema_today_title %>
  </div>

  <div class="field">
    <%= form.label :two_d %>
    <%= form.text_field :two_d, id: :mori_cinema_today_two_d %>
  </div>

  <div class="field">
    <%= form.label :three_d %>
    <%= form.text_field :three_d, id: :mori_cinema_today_three_d %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
