<p id="notice"><%= notice %></p>

<h1>Mori Cinema Todays</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Two d</th>
      <th>Three d</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mori_cinema_todays.each do |mori_cinema_today| %>
      <tr>
        <td><%= mori_cinema_today.title %></td>
        <td><%= mori_cinema_today.two_d %></td>
        <td><%= mori_cinema_today.three_d %></td>
        <td><%= link_to 'Show', mori_cinema_today %></td>
        <td><%= link_to 'Edit', edit_mori_cinema_today_path(mori_cinema_today) %></td>
        <td><%= link_to 'Destroy', mori_cinema_today, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mori Cinema Today', new_mori_cinema_today_path %>
