<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mori_cinema_today.title %>
</p>

<p>
  <strong>Two d:</strong>
  <%= @mori_cinema_today.two_d %>
</p>

<p>
  <strong>Three d:</strong>
  <%= @mori_cinema_today.three_d %>
</p>

<%= link_to 'Edit', edit_mori_cinema_today_path(@mori_cinema_today) %> |
<%= link_to 'Back', mori_cinema_todays_path %>
